@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Developer @ViewData["Student"]</p>
<address>
    <strong>More information: </strong> <a href="https://www.linkedin.com/in/mateus-ferreira-270259180/">My Linkedin Profile</a>
 </address>
